@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Luxurious+Roman&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f0e5d6;
  --foreground: #212121;
  --prim1: #2f5540;
  --prim2: #4a7856;
  --lprim: #3b3b3b;
  --psec: #d8c4b6;
  --lsec: #f5efe7;
  --bgsec: #181818;
}

* {
  font-family: "Plus Jakarta Sans", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0e0e0e;
    --foreground: #f0e5d6;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
